@font-face {
  font-family: "IBM VGA 8x14 Web 437";
  src: url("assets/Web437_IBM_VGA_8x14.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  --main-bg-color: black;
  --light-bg-color: beige; /* used for tooltip and notification comopnents on start screen */
  --main-text-color: #a7a7a7;
  --light-text-color: #fafafa;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  font-family: "IBM VGA 8x14 Web 437", "Courier New", Courier, monospace;
  font-size: 18px;
}

a {
  color: var(--light-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--main-text-color);
  }
}
